@model IEnumerable<Library_App.Models.Author>

@{
    ViewData["Title"] = "AllAuthors";
}

<h1>Your Authors</h1>

<p>
    <a asp-action="HighlyRatedAuthors">Your Fave Authors</a>
    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AuthorFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>

            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthorLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                </td>
                <td>
                    <a asp-action="RateThisAuthor" asp-route-id="@item.AuthorID">Rate this Author</a> |

                    <a asp-action="AuthorCatalog" asp-route-id="@item.AuthorID">Works to date</a> |

                </td>
            </tr>
        }
    </tbody>
</table>
